{
    "database": {
        "connectionString": (process.env.DATABASE_URL) 
    },
    "server": {
        "port": 5000,
        "jwtSecret": "random-secret-password",
        "jwtExpiration": "1h",
        "routePrefix": "/api",
        "plugins": [
            "logger",
            "jwt-auth",
            "swagger"
        ]
    }
}
